<div>
    <router-outlet></router-outlet>
</div>

<form [formGroup]="receivePaymentForm" (ngSubmit)="onSubmit()">
    <input type="number" formControlName="amount" placeholder="Amount ($)">
    <input type="hidden" formControlName="rawId">
    <button type="submit">Create Payment Request</button>
</form>

<div>
    <h4>Past Pending Payments</h4>
    <div *ngFor="let day of outputData; let i = index">
        <h2>{{day.day}}</h2>
        <div *ngFor="let dayItems of day.data; let i = index">
            {{dayItems.time}} - You have pending payment of ${{dayItems.data.amount}}.
        </div>
    </div>
</div>