<div *ngIf="!deleted" class="card shadow-lg text-white account mb-2" [ngStyle]="getBackground()">
    <div class="card-overlay position-absolute has-close-item">
        <div class="card-img-overlay tag">
            <button type="button" class="close text-white" aria-label="Close" (click)="removeAccount()">
                <span aria-hidden="true">&times;</span>
            </button>
            <h3 class="card-title">{{account.institution.name}}</h3>
            <h5>{{account.subtype | titlecase}} - ...{{account.mask}}</h5>
            <a><i class="remove glyphicon glyphicon-remove-sign glyphicon-white"></i></a>
        </div>
    </div>
</div>