<div class="container">
    <div class="row">
        <div class="col-12 col-sm-8 col-md-7 col-lg-4 mx-auto">
            <div class="shadow-lg bg-white p-3 m-3 rounded mx-auto">
                <div *ngIf="login; then loginBlock; else registerBlock;"></div>
            </div>
        </div>
    </div>
</div>

<ng-template #loginBlock>
    <div class="form-container text-center">
        <h4>
            Hey there! Welcome back.
        </h4>
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
            <ion-item>
                <ion-label position="floating">Email or phone</ion-label>
                <ion-input formControlName="emailOrPhone" autofocus autoComplete></ion-input>
                <app-form-control-message class="invalid-feedback" [control]="loginForm.get('emailOrPhone')">
                </app-form-control-message>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Password</ion-label>
                <ion-input type="password" formControlName="password" autoComplete></ion-input>
                <app-form-control-message class="invalid-feedback" [control]="loginForm.get('password')">
                </app-form-control-message>
            </ion-item>
            <div class="pt-3 text-left">
                <button class="btn btn-link">Forgot Password</button>
            </div>
            <div class="pt-2">
                <button class="form-control btn btn-primary" type="submit" [disabled]="!loginForm.valid">Login</button>
            </div>
        </form>
        <div class="pt-3">
            <button class="btn btn-link" (click)="login=false">I don't have an account yet...</button>
        </div>
    </div>
</ng-template>

<ng-template #registerBlock>
    <div class="form-container text-center">
        <h4>
            Lets set you up with an account!
        </h4>
        <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
            <ion-item>
                <ion-label position="floating">First Name</ion-label>
                <ion-input formControlName="firstname" name="firstname" autofocus></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Last Name</ion-label>
                <ion-input formControlName="lastname" name="lastname"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Phone</ion-label>
                <ion-input formControlName="phone" name="phone"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Email</ion-label>
                <ion-input formControlName="email" name="email"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Password</ion-label>
                <ion-input type="password" formControlName="password" name="password"></ion-input>
            </ion-item>
            <div class="pt-2">
                <button class="form-control btn btn-primary" type="submit">Register</button>
            </div>
        </form>
        <div class="pt-3">
            <button class="btn btn-link" (click)="login=true">I already have an account though...</button>
        </div>
    </div>
</ng-template>