.video {
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    background: black;
}
.video-row {
    padding-bottom: 10px;
}
#canvas {
    width: 100%;
}
.hide{
    visibility: hidden;
    position: absolute;
}