<div class="shadow-lg bg-white rounded mx-auto card p-3">
    <h2>Please scan to pay:</h2>

    <ng-container *ngIf="browserMode">
        <!-- Video -->
        <div class="video-row">
            <video class="video" id="video" #video autoplay playsinline></video>
        </div>
        <!-- Canvas -->
        <div style="display:none">
            <canvas class="video" id="canvas" #canvas></canvas>
        </div>
    </ng-container>

    <!-- Button -->
    <div class="text-center">
        <ng-container *ngIf="!videoStart">
            <button mat-fab class="mat-elevation-z1" (click)="toggleVideoMedia()" [disabled]="videoStart"
                color="primary" aria-label="videocam icon-button">
                <mat-icon>camera_enhance</mat-icon>
            </button>
        </ng-container>
        <ng-container *ngIf="videoStart">
            <button mat-fab (click)="toggleVideoMedia()" [disabled]="!videoStart" color="warn"
                aria-label="videocam icon-button">
                <mat-icon>camera_enhance</mat-icon>
            </button>
        </ng-container>
    </div>
</div>

<div class="shadow-lg bg-white p-3 m-3 rounded mx-auto">
    <h2>Or enter the payment id manually below:</h2>
    <form [formGroup]="makePaymentForm" (ngSubmit)="onSubmit()">
        <div class="input-group my-2 mr-sm-2">
            <input type="string" formControlName="id" class="form-control" placeholder="Payment Token">
            <div class="input-group-append">
                <button type="submit"
                    class="input-group-text btn btn-primary text-white bg-primary border-primary">Pay</button>
            </div>
        </div>
    </form>
</div>