<ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
        <ion-toolbar color="primary">
            <ion-title>Start Menu</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <ion-item>Menu Item</ion-item>
            <ion-item>Menu Item</ion-item>
            <ion-item>Menu Item</ion-item>
            <ion-item>Menu Item</ion-item>
            <ion-item>Menu Item</ion-item>
        </ion-list>
    </ion-content>
</ion-menu> 

<!--

<div class="sidebar-wrapper text-light">
    <div class="sidebar-body">
        <div class="text-center d-none d-md-block pt-3">
            <h2>Hi {{currentUser.userInfo.firstname}}!</h2>
            <hr class="bg-light" />
        </div>
        <nav class="navbar navbar-expand-md navbar-dark p-0">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse p-0" id="navbarNavDropdown">
                <ul class="nav navbar-nav flex-column w-100 p-0">
                    <li class="nav-item">
                        <a class="btn btn-dark w-100 text-left py-2 rounded-0" routerLink="/dash">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-dark w-100 text-left py-2 rounded-0" routerLink="/pay">Make Payments</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-dark w-100 text-left py-2 rounded-0" routerLink="/receive">Receive Payments</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-dark w-100 text-left py-2 rounded-0" routerLink="/banks">Manage Banks</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-dark w-100 text-left py-2 rounded-0" routerLink="/settings">Settings</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-dark w-100 text-left py-2 rounded-0" routerLink="/" (click)="logout()">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="d-none d-md-block text-light">
            <hr class="bg-light" />
            <p class="px-1">
                Currently logged in:
            </p>
            <p class="text-center">
                < !--<%- session.profileImgUrl !="" ? `<img class="sidebar-icon" src="/images/${session.profileImgUrl}" />` : '' %> -- >
            </p>
            <p class="px-1 font-weight-light text-center">{{currentUser.userInfo.email}}</p>
        </div>
        <div class="sidebar d-none d-md-block"></div>
    </div>
</div>

-->