<div class="my-3 mx-auto">
    <h3 class="text-center font-italic">Please have the following qr code scanned to receive payment.</h3>
    <div class="card mx-auto" style="width:300px;">
        <div class="card-header">
            Token: {{ id }}
        </div>
        <div class="card-body p-0 bg-light">
            <div class="card-img-top text-center" id="qr-show" style="margin:22px; width:256px; height: 256px; overflow:hidden;">
            </div>
        </div>
        <div class="card-footer text-right">
            - Requesting amount ${{amount}}
        </div>
    </div>
</div>