<div class="container">
    <div class="row">
        <div class="col-12 col-md-10 col-lg-7 mx-auto">
            <ul class="nav nav-fill justify-content-center">
                <li class="nav-item" *ngFor="let p of tabLinks; let i = index">
                    <a (click)="selectedIndex = i" class="nav-link" [class.active]="selectedIndex == i" routerLink="{{ p.url }}">
                        <ion-tab-button [selected]="selectedIndex == i">
                            <ion-icon [name]="p.icon"></ion-icon>
                            <ion-label><h2>{{ p.title }}</h2></ion-label>
                        </ion-tab-button>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-10 col-lg-7 mx-auto">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>